.login,
.image {
    min-height: 100vh;
}

.bg-image {
    background-image: url('../../../../public/assets/images/bg-login.jpg');
    background-size: cover;
    background-position: center center;
}

.sign-in-container{
    background-color: #fff !important;
}