@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;400;600&display=swap");

body {
  margin: 0;
  font-family: "Roboto","Poppins", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#root,.app-container{
  height: 100%;
}